
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About To Do 1 App</h1>

<hr />

<h6 style="text-align:center">
    <img src="~/image/about.svg" alt="about image" class="about-image"/>
    <br /><br />
    To Do 1 App is simple and awesome app to organize your tasks with very easy to use interface.
    <br /><br />
    To Do 1 can help you to make list of your tasks.
    <br /><br />
    The To Do 1 app has very simple functionality for creating, updating and changing your list of tasks.
    <br /><br />
    It also provides the ability to sort and filter your to do lists based on priority and date.
</h6>
