
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About To Do 1 App</h1>

<hr />

<h6>
    To Do 1 App is simple and awesome app to organize your tasks with very easy to use interface.
    <br> ToDo can help you to make list of your tasks.
</h6>
