@model ToDo1WebApp.Models.Payment

@{
    ViewData["Title"] = "Premium";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Get Premium Version</h1>

<h4>The total cost for using this app is 150 SEK</h4>
<div class="form-group">
    <p><label name="lblStudent" class="control-label"> check in the box if you are a student or pensioner, and you will receive a 50% discount </label><input type="checkbox" style="margin-left:10px" /></p>

</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Premium">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label">Card Number</label>
                <input asp-for="CardNumber" required class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label">Expiry Date</label>
                <input asp-for="ExpiryDate" required class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVV" class="control-label"></label>
                <input asp-for="CVV" required class="form-control" />
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOnCard" class="control-label">Name On Card</label>
                <input asp-for="NameOnCard" required class="form-control" />
                <span asp-validation-for="NameOnCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="Submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <form action="/Home">
        <input type="submit" value="Back to Home" class="btn btn-primary" />
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
